<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>

<form method="POST">
    <input type="text" name="senderName" width="100" value="">
    <input type="text" name="senderPass" width="100" value="">
    <input type="text" name="count" width="100" value="">
    <input type="text" name="nameTo" width="100" value="">
    <input type="submit" value="Start transaction">
</form>

<table style=" width: 100%; border: 4px double #000000;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>
</body>
</html>